h1 {
  font-family:Bank Gothic;
  text-align: center;
  font-size:80px;
}

ul {font-family:AmericanTypewriter;
  font-size:25px;
  width: 20%;
  margin: auto;
}

p{font-family:AmericanTypewriter;
  text-align:center; 
  font-size:25px;
}

h2{font-family:Bank Gothic;
  text-align: center;
  font-size:55px;
}

ul{
  font-family:AmericanTypewriter;
  font-size:25px; 
  width: 20%;
  margin: auto;
}

img{text-align:center;
  height=250px;
}
