h1 {
  font-family:"Courier New";
  text-align: center;
  font-size:80px;
}

ul {font-family:"Courier New";
  font-size:25px;
  width: 20%;
  margin: auto;
}

p{font-family:"Courier New";
  text-align:center; 
  font-size:25px;
}

h2{font-family:"Courier New";
  text-align: center;
  font-size:55px;
}

ul{
  font-family:"Courier New";
  font-size:25px; 
  max-width: 20%;
  margin: auto;
}

.rekt{
  text-align: center;
  height: 60px;
  width: 120px;
  font-size: 20px;
  background-color:red;
  font-weight: bold;
  display:block;
  margin:0 auto;
}

.que{
  text-align: center;
  color: white;
  height: 60px;
  width: 200px;
  font-size: 20px;
  background-color:black;
  font-weight: bold;
  display:block;
  margin:0 auto;
}

.esta{
  text-align: center;
  color: white;
  height: 60px;
  width: 140px;
  font-size: 20px;
  background-color:black;
  font-weight: bold;
  display:block;
  margin:0 auto;
}

.nav {
    list-style-type: none;
    display: inline;
    text-decoration: none;
    text-align: center;
}

ol{
  font-family:"Courier New";
  font-size:25px; 
  max-width: 20%;
  margin: auto;
  list-style-type: none;
}

#ttt{
    width: 100px;
    height:100px;
    border: solid 1px;
    font-size: 80px;
    text-align: center;
    width: 300px;
    
    margin:0 auto;
}

img{
    height: 250px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#img{
    display:block;
    margin:0 auto;
}

span{
  margin:10%;
  
}

#blank{
  color: white;
  text-decoration: none;
}

#bigger{
    width:230px;
}

#change{
    position:absolute;
    align: center;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    width:230px;
}

td{
    width: 100px;
    height:100px;
    border: solid 1px;
    font-size: 80px;
    text-align: center;
    
}

tr{
    width:100px;
}

table{
    text-align: center; 
  background-color:DarkGreen;
  font-family: "Bank Gothic" "Courier New";
  font-size: 35px;
  text-decoration: none;
  width:100%;
}

#timesTable{
    border: solid 1px;
    width:auto;
    display:block;
    margin:0 auto;
}

#newCol{
    text-align: right;
    background-color:white;
    width:50px;
    height:50px;
    font-size:1em;
    
}

#99{
    width: 160px;
}

.inputV{
margin:0 auto;
height: 40px;
width: 100px;
text-align: center;
display: block;

}

.inputC{
margin:0 auto;
height: 30px;
width: 75px;
text-align: center;
 display: block;
 font-size: auto;
}


