h1 {
  font-family:"Bank Gothic" "Franklin Gothic Heavy";
  text-align: center;
  font-size:80px;
}

ul {font-family:"American Typewriter" "Courier New";
  font-size:25px;
  width: 20%;
  margin: auto;
}

p{font-family:"AmericanTypewriter" "Courier New";
  text-align:center; 
  font-size:25px;
}

h2{font-family:"Bank Gothic" "Franklin Gothic Heavy";
  text-align: center;
  font-size:55px;
}

ul{
  font-family:"Bank Gothic" "Franklin Gothic Heavy";
  font-size:25px; 
  max-width: 20%;
  margin: auto;
}

.rekt{
    text-align: center;
}

.nav {
    list-style-type: none;
    display: inline;
    text-decoration: none;
    text-align: center;
}

ol{
  font-family:"Bank Gothic" "Franklin Gothic Heavy";
  font-size:25px; 
  max-width: 20%;
  margin: auto;
  list-style-type: none;
}
